reference-app-services-web/src/main/webapp/wsdl/EquipementSerImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ressource.services.sjo.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ressource.services.sjo.com" xmlns:intf="http://ressource.services.sjo.com" xmlns:tns1="http://ressource.model.sjo.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ressource.services.sjo.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://ressource.model.sjo.com"/>
   <element name="findAllEquipement">
    <complexType/>
   </element>
   <element name="findAllEquipementResponse">
    <complexType>
     <sequence>
      <element name="findAllEquipementReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="retrieveEquipement">
    <complexType>
     <sequence>
      <element name="equipementId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="retrieveEquipementResponse">
    <complexType>
     <sequence>
      <element name="retrieveEquipementReturn" type="tns1:Equipement"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteEquipement">
    <complexType>
     <sequence>
      <element name="equipementId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteEquipementResponse">
    <complexType>
     <sequence>
      <element name="deleteEquipementReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="modifyEquipement">
    <complexType>
     <sequence>
      <element name="equipement" type="tns1:Equipement"/>
     </sequence>
    </complexType>
   </element>
   <element name="modifyEquipementResponse">
    <complexType>
     <sequence>
      <element name="modifyEquipementReturn" type="tns1:Equipement"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://ressource.model.sjo.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://ressource.services.sjo.com"/>
   <complexType name="Equipement">
    <sequence>
     <element name="equipement" nillable="true" type="tns1:Equipement"/>
     <element name="id" nillable="true" type="xsd:string"/>
     <element name="m_Equipement" nillable="true" type="tns1:Equipement"/>
     <element name="numSerie" nillable="true" type="xsd:string"/>
     <element name="origineFabriquant" nillable="true" type="xsd:string"/>
     <element name="refFabriquant" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="findAllEquipementResponse">

      <wsdl:part element="impl:findAllEquipementResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modifyEquipementRequest">

      <wsdl:part element="impl:modifyEquipement" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="retrieveEquipementResponse">

      <wsdl:part element="impl:retrieveEquipementResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="retrieveEquipementRequest">

      <wsdl:part element="impl:retrieveEquipement" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteEquipementResponse">

      <wsdl:part element="impl:deleteEquipementResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteEquipementRequest">

      <wsdl:part element="impl:deleteEquipement" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modifyEquipementResponse">

      <wsdl:part element="impl:modifyEquipementResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findAllEquipementRequest">

      <wsdl:part element="impl:findAllEquipement" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EquipementSerImpl">

      <wsdl:operation name="findAllEquipement">

         <wsdl:input message="impl:findAllEquipementRequest" name="findAllEquipementRequest">

       </wsdl:input>

         <wsdl:output message="impl:findAllEquipementResponse" name="findAllEquipementResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="retrieveEquipement">

         <wsdl:input message="impl:retrieveEquipementRequest" name="retrieveEquipementRequest">

       </wsdl:input>

         <wsdl:output message="impl:retrieveEquipementResponse" name="retrieveEquipementResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteEquipement">

         <wsdl:input message="impl:deleteEquipementRequest" name="deleteEquipementRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteEquipementResponse" name="deleteEquipementResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modifyEquipement">

         <wsdl:input message="impl:modifyEquipementRequest" name="modifyEquipementRequest">

       </wsdl:input>

         <wsdl:output message="impl:modifyEquipementResponse" name="modifyEquipementResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EquipementSerImplSoapBinding" type="impl:EquipementSerImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="findAllEquipement">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findAllEquipementRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="findAllEquipementResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="retrieveEquipement">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="retrieveEquipementRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="retrieveEquipementResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteEquipement">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteEquipementRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteEquipementResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modifyEquipement">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modifyEquipementRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="modifyEquipementResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EquipementSerImplService">

      <wsdl:port binding="impl:EquipementSerImplSoapBinding" name="EquipementSerImpl">

         <wsdlsoap:address location="http://tempuri.org/reference-app-services-web/services/EquipementSerImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
