reference-app-services-web/src/main/webapp/wsdl/OrderServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.sjo.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.sjo.com" xmlns:intf="http://services.sjo.com" xmlns:tns1="http://model.sjo.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.sjo.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.sjo.com"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <element name="submitOrder">
    <complexType>
     <sequence>
      <element name="order" type="tns1:Order"/>
      <element name="accoutId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="submitOrderResponse">
    <complexType>
     <sequence>
      <element name="submitOrderReturn" type="tns1:Order"/>
     </sequence>
    </complexType>
   </element>
   <element name="modifyOrder">
    <complexType>
     <sequence>
      <element name="order" type="tns1:Order"/>
     </sequence>
    </complexType>
   </element>
   <element name="modifyOrderResponse">
    <complexType>
     <sequence>
      <element name="modifyOrderReturn" type="tns1:Order"/>
     </sequence>
    </complexType>
   </element>
   <element name="cancelOrder">
    <complexType>
     <sequence>
      <element name="order" type="tns1:Order"/>
     </sequence>
    </complexType>
   </element>
   <element name="cancelOrderResponse">
    <complexType>
     <sequence>
      <element name="cancelOrderReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getOrderStatus">
    <complexType>
     <sequence>
      <element name="orderId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getOrderStatusResponse">
    <complexType>
     <sequence>
      <element name="getOrderStatusReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="retrieveOrdersforAccount">
    <complexType>
     <sequence>
      <element name="accountId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="retrieveOrdersforAccountResponse">
    <complexType>
     <sequence>
      <element name="retrieveOrdersforAccountReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.sjo.com"/>
   <import namespace="http://services.sjo.com"/>
   <complexType name="Vector">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model.sjo.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://services.sjo.com"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <complexType name="Address">
    <sequence>
     <element name="addressId" nillable="true" type="xsd:string"/>
     <element name="city" nillable="true" type="xsd:string"/>
     <element name="country" nillable="true" type="xsd:string"/>
     <element name="state" nillable="true" type="xsd:string"/>
     <element name="street1" nillable="true" type="xsd:string"/>
     <element name="street2" nillable="true" type="xsd:string"/>
     <element name="zipCode" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Account">
    <sequence>
     <element name="accountId" nillable="true" type="xsd:string"/>
     <element name="cellPhone" nillable="true" type="xsd:string"/>
     <element name="creditCard" nillable="true" type="impl:ArrayOf_xsd_anyType"/>
     <element name="emailAddress" nillable="true" type="xsd:string"/>
     <element name="firstName" nillable="true" type="xsd:string"/>
     <element name="homeAddress" nillable="true" type="tns1:Address"/>
     <element name="homePhone" nillable="true" type="xsd:string"/>
     <element name="lastName" nillable="true" type="xsd:string"/>
     <element name="userName" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="CreditCard">
    <sequence>
     <element name="billingAddress" nillable="true" type="tns1:Address"/>
     <element name="creditCardId" nillable="true" type="xsd:string"/>
     <element name="expiration" nillable="true" type="xsd:string"/>
     <element name="number" nillable="true" type="xsd:string"/>
     <element name="type" nillable="true" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <complexType name="Order">
    <sequence>
     <element name="account" nillable="true" type="tns1:Account"/>
     <element name="lineItem" nillable="true" type="impl:ArrayOf_xsd_anyType"/>
     <element name="orderId" nillable="true" type="xsd:string"/>
     <element name="payment" nillable="true" type="tns1:CreditCard"/>
     <element name="shippingMethod" nillable="true" type="xsd:anyType"/>
     <element name="status" nillable="true" type="xsd:anyType"/>
     <element name="totalPrice" nillable="true" type="xsd:decimal"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="modifyOrderResponse">

      <wsdl:part element="impl:modifyOrderResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="submitOrderRequest">

      <wsdl:part element="impl:submitOrder" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getOrderStatusRequest">

      <wsdl:part element="impl:getOrderStatus" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="cancelOrderResponse">

      <wsdl:part element="impl:cancelOrderResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="cancelOrderRequest">

      <wsdl:part element="impl:cancelOrder" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="retrieveOrdersforAccountRequest">

      <wsdl:part element="impl:retrieveOrdersforAccount" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="submitOrderResponse">

      <wsdl:part element="impl:submitOrderResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="retrieveOrdersforAccountResponse">

      <wsdl:part element="impl:retrieveOrdersforAccountResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modifyOrderRequest">

      <wsdl:part element="impl:modifyOrder" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getOrderStatusResponse">

      <wsdl:part element="impl:getOrderStatusResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="OrderServiceImpl">

      <wsdl:operation name="submitOrder">

         <wsdl:input message="impl:submitOrderRequest" name="submitOrderRequest">

       </wsdl:input>

         <wsdl:output message="impl:submitOrderResponse" name="submitOrderResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modifyOrder">

         <wsdl:input message="impl:modifyOrderRequest" name="modifyOrderRequest">

       </wsdl:input>

         <wsdl:output message="impl:modifyOrderResponse" name="modifyOrderResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="cancelOrder">

         <wsdl:input message="impl:cancelOrderRequest" name="cancelOrderRequest">

       </wsdl:input>

         <wsdl:output message="impl:cancelOrderResponse" name="cancelOrderResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getOrderStatus">

         <wsdl:input message="impl:getOrderStatusRequest" name="getOrderStatusRequest">

       </wsdl:input>

         <wsdl:output message="impl:getOrderStatusResponse" name="getOrderStatusResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="retrieveOrdersforAccount">

         <wsdl:input message="impl:retrieveOrdersforAccountRequest" name="retrieveOrdersforAccountRequest">

       </wsdl:input>

         <wsdl:output message="impl:retrieveOrdersforAccountResponse" name="retrieveOrdersforAccountResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="OrderServiceImplSoapBinding" type="impl:OrderServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="submitOrder">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="submitOrderRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="submitOrderResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="modifyOrder">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modifyOrderRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="modifyOrderResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="cancelOrder">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="cancelOrderRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="cancelOrderResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getOrderStatus">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getOrderStatusRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getOrderStatusResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="retrieveOrdersforAccount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="retrieveOrdersforAccountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="retrieveOrdersforAccountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="OrderServiceImplService">

      <wsdl:port binding="impl:OrderServiceImplSoapBinding" name="OrderServiceImpl">

         <wsdlsoap:address location="http://tempuri.org/reference-app-services-web/services/OrderServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
